<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jaspalhayer.quicklist" >

    <!-- Internet Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <!-- Main/Home Activity -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- All Product Activity (child of main activity) -->
        <activity
            android:name=".AllListingsActivity"
            android:label="All Listings"
            android:parentActivityName=".MainActivity" >
        </activity>

        <!-- Create a Listing Activity (child of main activity -->
        <activity
            android:name=".CreateListingActivity"
            android:label="Create a Listing"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".BrowseUniCourseActivity"
            android:label="Browse by Course"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jaspalhayer.quicklist.MainActivity" />
        </activity>
        <activity
            android:name=".BrowseResultActivity"
            android:label="CHANGE TO COURSE" >
        </activity>
        <activity
            android:name=".SearchActivity"
            android:label="@string/title_activity_search"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jaspalhayer.quicklist.MainActivity" />
        </activity>
    </application>

</manifest>
